<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Native_Adblock.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Native_Adblock.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <Native_Adblock.Properties.Settings>
            <setting name="Sources" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>https://adaway.org/hosts.txt</string>
                        <string>https://pgl.yoyo.org/adservers/serverlist.php?hostformat=hosts&amp;showintro=0&amp;mimetype=plaintext</string>
                        <string>https://github.com/yous/YousList/raw/master/hosts.txt</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AttemptMerge" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KeepBackup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GenerationInProgress" serializeAs="String">
                <value>False</value>
            </setting>
        </Native_Adblock.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Native_Adblock.Properties.Settings>
            <setting name="UpdateInterval" serializeAs="String">
                <value>168</value>
            </setting>
            <setting name="LastUpdate" serializeAs="String">
                <value>1970-01-01</value>
            </setting>
            <setting name="HostsInstalled" serializeAs="String">
                <value>False</value>
            </setting>
        </Native_Adblock.Properties.Settings>
    </applicationSettings>
</configuration>
